
    <div class="nav2" id="nav2">
        
        <div class="left" id="left">
            <img src="/Images/nav-txt.png" alt="">
            <img id="img2" src="/Images/logotopf.png" alt="">
            
        </div>
        <div class="ser" id="ser">
            <input type="search" name="" placeholder="Go to....">
        </div>
        
        
        <div class="right" id="right">
            <ul>
                <li><a  href="/Home">Home</a></li>
                <li><a  href="#">About</a></li>
                <li><a  href="#academics">Academic</a></li>
                <li><a href="#officies">Officies</a></li>
                <li><a href="#admission">admissions <span><button>Apply Now</button></span></a>
                </li>
                <li><a href="#foo">Campus Life</a></li>
            </ul>
        </div>

    </div>